[submodule "module/Kern"]
	path = module/Kern
	url = https://github.com/DigitalerSchulhof/Kern.git
[submodule "module/UI"]
	path = module/UI
	url = https://github.com/DigitalerSchulhof/UI.git
[submodule "module/Website"]
	path = module/Website
	url = https://github.com/DigitalerSchulhof/Website.git
[submodule "module/Postfach"]
	path = module/Postfach
	url = https://github.com/DigitalerSchulhof/Postfach.git
