RewriteEngine on
RewriteRule ^\.htaccess$ - [F]
RewriteRule ^aktualisiert.php$ [R=404,L]

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?URL=$1
</IfModule>

ErrorDocument 301 /Fehler/301
ErrorDocument 302 /Fehler/302
ErrorDocument 403 /Fehler/403
ErrorDocument 404 /Fehler/404
ErrorDocument 500 /Fehler/500